<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div
      style="
        position: relative;
        width: 800px;
        height: auto;
        border: 1px solid black;
        background-color: #f0f0f0;
        margin: auto;
      "
    >
      <img
        src="https://res.cloudinary.com/dxm3i24ol/image/upload/v1725932132/uploads/images/mszkye4aj0w0vzoyzbe8.jpg"
        alt="_c6712856-cfea-4543-8f82-d6afc373b3be.jpeg"
        style="
          position: absolute;
          left: 194px;
          top: 22px;
          max-width: 200px;
          max-height: 200px;
        "
      />
      <div
        style="
          position: absolute;
          left: 687px;
          top: 109px;
          font-weight: normal;
          font-style: normal;
          text-decoration: none;
        "
      >
        name
      </div>
      <div
        style="
          position: absolute;
          left: 100px;
          top: 100px;
          font-weight: normal;
          font-style: normal;
          text-decoration: none;
        "
      >
        email
      </div>
      <div
        style="
          position: absolute;
          left: 467px;
          top: 208px;
          font-weight: normal;
          font-style: normal;
          text-decoration: none;
        "
      >
        plan
      </div>
      <div
        style="
          position: absolute;
          left: 761px;
          top: 204px;
          font-weight: normal;
          font-style: normal;
          text-decoration: none;
        "
      >
        duration
      </div>
      <div
        style="
          position: absolute;
          left: 866px;
          top: 34px;
          font-weight: normal;
          font-style: normal;
          text-decoration: none;
        "
      >
        amount
      </div>
      <div
        style="
          position: absolute;
          left: 138px;
          top: 205px;
          font-weight: normal;
          font-style: normal;
          text-decoration: none;
        "
      >
        startDate
      </div>
      <div
        style="
          position: absolute;
          left: 449px;
          top: 146px;
          font-weight: normal;
          font-style: normal;
          text-decoration: none;
        "
      >
        paymentMethod
      </div>
      <div
        style="
          position: absolute;
          left: 462px;
          top: 58px;
          font-weight: normal;
          font-style: normal;
          text-decoration: none;
        "
      >
        createdAt
      </div>
    </div>
    "
  </body>
</html>
